*{
      margin: 0;
      padding: 0;
}

nav{
      height: 50px;
      background-color: rgb(0, 0, 0);
      padding: 0 2rem;
      line-height: 50px;
      position: fixed;
      top: 0;
      width: -moz-available;
      width:  -webkit-fill-available;
}
nav span{
      color: wheat;
}

.links{
      float: right;
}

.links a{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      padding: 5px 15px ;
      background-color: darkslategray;
border-radius: 5px;
margin-right: 5px;
transition: 1s;
}
nav a:hover{
      background-color: white;
      color: black;
}


.myVideo{
position: absolute;
right: 0;
top: 0;
z-index: -1;
}
.outer{
      background-image: url(./images/video.mp4);
      background-repeat: no-repeat;
      background-size: auto;
      height: 100vh;
      background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;
/* opacity: .8; */

      
     
}
.inner{
      /* height: 50px; */
      width: fit-content;
      /* background-color: aqua; */
      padding: 10px 20px;
      text-align: center;
      line-height: 50px;
      margin: auto;

}
.top1{
      background-color: chartreuse;
      color: black;
      width: 500px;
      animation: right-animate 3s ease infinite alternate;
}

@keyframes right-animate {
      0% {
          /* transform: translateX(0px); */
          width: 300px;
          background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

      }
    
      100%{
            background-color: #85FFBD;
            background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
            
            width: 600px;
      }
  }
  






.outer1{
      background-color: white;
      text-align: center;
      padding: 5rem 1rem;

}
.outer2{
      background-image: url(./images/london.jpg);
      background-repeat: no-repeat;
      background-size: auto;
height: 100vh;
      background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;

      
     
}


.text2{
      color: white;
      
}
.outer4{
      color: white;
      background-color: black;
text-align: center;
padding: 3rem 1rem;      

}


.txt4{
      text-align: center;
      color: white;
        margin-bottom: 01rem;
    }
.outer6{
      background-image: url(./images/M.jpg);
      background-repeat: no-repeat;
      background-size: auto;
      height: 100vh;
      background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;

      
     
}
.inner6{
      padding: 3rem 4rem;
      text-align: center;
      line-height: 50px;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.833);
      color: white;
      border-radius: 5px;
      width: 40%;
}



form{
      display: grid;

}
input,textarea,button{
      margin-bottom: 8px;
      padding: 10px;
      outline: none;
      background-color: transparent;
      color: white;
      border-radius: 20px;
      outline:none;
      border: 1px solid grey;
}

button{
      cursor: pointer;
      transition: .5s;

}
button:hover{
      background-color: grey;
      color: black;

}




footer{
      background-color: black;
        text-align: center;
        padding: 1rem;
        color: white;
        height: 100px;
        display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  }
  footer p{
        font-size: 12px;
  }footer span{
        font-size: 10px;
        text-transform: uppercase;
        color: aqua;
        margin: 0 10px;
  }
  