@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,100&display=swap');

*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
}

nav{
      height: 50px;
      background-color: rgb(0, 0, 0);
      padding: 0 2rem;
      line-height: 50px;
      position: fixed;
      top: 0;
      width: -moz-available;
      width:  -webkit-fill-available;
      z-index: 200;
      box-shadow: 2px 3px 6px #000;

}
.logo{
      color: wheat;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: none;
      transition:1s;
      background-color: transparent;
}
.logo:hover{
      color: rgb(120, 255, 3);
      background-color: transparent;
     

}
.links{
      float: right;
}

.links a{
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      padding: 5px 15px ;
      background-color: #1d2743;
border-radius: 5px;
margin-right: 5px;
transition: 1s;
font-size: 12px;
}
nav a:hover{
      background-color: white;
      color: black;
}


#myVideo{
position: absolute;
right: 0;
top: 0;
z-index: -1;
}
.outer{
      background-image: url(./images/video.mp4);
      background-repeat: no-repeat;
      background-size: auto;
      height: 100vh;
      background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;
/* opacity: .8; */

      
     
}
.inner{
      /* height: 50px; */
      width: fit-content;
      /* background-color: aqua; */
      padding: 10px 20px;
      text-align: center;
      line-height: 50px;
      margin: auto;

}
.top1{
      background-color: chartreuse;
      color: black;
      width: 500px;
      animation: right-animate 3s ease infinite alternate;
      backdrop-filter: blur(3px);opacity: .8;
      position: relative;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 2px 3px 6px #000;


}

@keyframes right-animate {
      0% {
          /* transform: translateX(0px); */
          left: 25px;
          background-color: #4158D0;
/* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

      }
    
      100%{
            background-color: #8b8b8b;
            /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
            
            left: -25px;
      }
  }
  

.text1{
      font-size: 6rem;
      color: #fff;
      text-shadow: 2px 3px 6px #000;
      text-transform: uppercase;
    
}
.myName{
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
}



.outer1{
      background-color: white;
      text-align: center;
      padding: 5rem 1rem;
      box-shadow: 2px 3px 6px #000;

}
.outer2{
      background-image: url(./images/london.jpg);
      background-repeat: no-repeat;
      background-size: auto;
height: 100vh;
      background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;

}  

/* ------------------ Cards */
.row{padding: 2rem;
background: #adadad;
text-align: center;
color: darkblue;
}

.cards{
      display: flex;
}

.cardInner{
      margin: 10px;
  border: 1px solid rgb(2, 2, 2);
  text-align: center;
  padding: 30px 10px;
  box-shadow: 1px 0px 5px #373737;
  background-color: #eaeaf3;
  border-radius: 5px;
  color: darkblue;
}




















     


.text2{
      color: white;
      
}
.outer4{
      color: white;
      background-color: black;
text-align: center;
padding: 3rem 1rem;      

}


.txt4{
      text-align: center;
      color: white;
        margin-bottom: 01rem;
    }
.outer6{
      background-image: url(./images/M.jpg);
      background-repeat: no-repeat;
      background-size: auto;
      height: 100vh;
      background-size: cover;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;

      
     
}
.inner6{
      padding: 3rem 4rem;
      text-align: center;
      line-height: 50px;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.833);
      color: white;
      border-radius: 5px;
      width: 40%;
}



form{
      display: grid;

}
input,textarea,button{
      margin-bottom: 8px;
      padding: 10px;
      outline: none;
      background-color: transparent;
      color: white;
      border-radius: 20px;
      outline:none;
      border: 1px solid grey;
}

button{
      cursor: pointer;
      transition: .5s;

}
button:hover{
      background-color: grey;
      color: black;

}




footer{
      background-color: black;
        text-align: center;
        padding: 1rem;
        color: white;
        height: 100px;
        display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  }
  footer p{
        font-size: 12px;
  }footer span{
        font-size: 10px;
        text-transform: uppercase;
        color: aqua;
        margin: 0 10px;
  }
  